body {
  font-size: 25px;
  padding: 60px;
}
table {
  text-align: left;
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: auto;
}

.bold {
  font-weight: bold;
  background-color: #ccff91;
}

table,
th,
td,
tr {
  padding: 5px;
  border: 1px solid #000;
}
